- content_for :title do
  Skillup
  |
  Review 
  =  @enrollment

%p
.card 
  .card-header
    %h1 
      .text-warning.fa.fa-star
      Add a review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment
    \|
    = link_to 'Back To Course', course_path(@enrollment.course)

