- content_for :title do
  Skillup
  |
  Editing 
  =  @enrollment

%p
.card 
  .card-header
    %h1 Edit Enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @enrollment
    \|
    = link_to 'Back', enrollments_path

