%li.list-group-item
  - if lesson.viewed(current_user) == true
    .text-success.far.fa-check-square
  - else
    .text-muted.far.fa-check-square
  = link_to lesson.title, course_lesson_path(@course,lesson)