- content_for :title do
  Skillup
  |
  New lesson 

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course) 
\/ New
%p

.card
  .card-header
    %h1 New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back to course', course_path(@course)