- content_for :title do
  Skillup
  |
  Editing 
  =  @course.title
  

%p
.card 
  .card-header
    %h1 Edit Course
  .card-body
    = render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
