- content_for :title do
  Skillup
  |
  New Course
  
%p
.card 
  .card-header
    %h1 New Course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @course
    \|
    = link_to 'Back', courses_path
