/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require trix
 */


 body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
 }

 li{
  list-style: none;
 }

 .card-column, .card-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
 }

 h5{
  font-weight: 400;
 }
 a{
  text-decoration: none;
 }

 input{
  border: 1px solid;
 }

 button{
  background: transparent;
  border:  none;
 }

 .jumbotron {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('db24b94e-d190-4d5a-b1dd-958f702cc8f5.jpg');
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: -40px;
  width: 94vw;
 }

 .banner-text-container {
  height: auto;
  padding: 1rem;
  background-color: #fff;
  width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 4rem
 }

 .form-control{
  margin-bottom: 1rem;
 }
